.kk{
font-family:'Courier New';
color:darkgray;
    
}

.bt1{
    
background-color:red;
border: none;
color: white;
width: 21px;
}


.upload{
width: 118px;
height: 40px;
border: none;
color: aqua;

}

.files{
    
visibility: hidden;
}

.outpute{
 margin-top: 40px;
 margin-left: 410px;
}

.ImgDes{
     border: 1px solid orange;
    border-radius: 4px;
    
   
}